{% extends 'base.html' %}
{% block content %}
<div class="signin">
    <div class="container">
        <center>
            <form style="border: 2px solid black; margin: 20px; padding: 10px;" class="form-signin" action="/signin/"
                method="post">
                {% csrf_token %}
                <h1 style="margin-top:10px; color: black; " class="h3 mb-3 font-weight-normal">E-Book Login</h1>
                <input type="text" id="inputEmail" class="form-control my-4" name="username" placeholder="Username"
                    required="" autofocus="">
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
                    required="">
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <br>
            </form>
        </center>
        {% for message in messages %}
        <h5 style="text-align: center; color: rgb(240, 39, 39);" id="message"> {{message}}</h5>
        {% endfor %}
    </div>
</div>
<br>
<br>
<footer class="blog-footer">
    <p>Barberian<a href="https://github.com/huzefaTaj">Barberian</a>.</p>

</footer>
<script>
    var message = document.getElementById('message').textContent
    alert(message)

</script>
{% endblock content %}